// Estilos para cáculo de dimensiones de nuestro sitio web.
* {
  box-sizing: border-box;
}

// Estilos para filas de contenido
.row::after {
  content: "";
  clear: both;
  display: table;
}

// Estilos para títulos de contenido
.row h1 {
  text-align: center;
}

// Estilos para columnas de contenido
[class*="col-"] {
  float: left;
  padding: 15px;
  text-align: justify;
}

.pestana-opcion-contenido {
  display: none;
}

// Estilos para imágenes de contenido
.pestana-opcion-contenido img {  
  width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  height: fit-content;  
  margin-bottom: 7%;  
}

// Estilos universales para el sitio web
html {
  font-family: "Lucida Sans", sans-serif;
  background-image: url("../images/desert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

// Estilos para encabezado
.header{
  background-image: $header-bg-image;
  background-repeat: no-repeat;  
  background-size: 100% 100%; 
  background-position: center; 
  text-align: center;
  width: 100%;  
  padding: 15px;  
}

.header img {
  width: 30%;
}

// Estilos para listado de opciones de menú
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Estilos detallados para cada opción de menú
.menu li {
  text-align: center;
  padding: 8px;
  margin-bottom: 7px;
  background-color: $menu-shield-bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// Estilos para texto enlaces e íconos del menú
.menu li a, i {
  color: $menu-footer-text-color;
  text-decoration: none;
}

// Estilos para fondo y texto enlaces e íconos del menú en caso de evento hover con el mouse
.menu li:hover {
  background-color: #ff0000;
  text-decoration: underline;
  color: #FFD700;  
}

// Estilos para contenido lateral derecho, escudo ilustrativo.
.aside {
  background-color: $menu-shield-bg-color;
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// Estilos para imagen del contenido lateral derecho.
.aside img {
  width: 88%;
}

// Estilos para el pie de página.
.footer {
  background-color: black;
  color: $menu-footer-text-color;
  padding: 10px;  
  font-size: 12px;
  text-align: center;  
  bottom: 0;
  left: 0; 
  width: 100%;
  position: fixed;
}

// Definición de Media Queries para distintas dimensiones en función del dispositivo.
/* Para teléfonos móviles: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* Para tabletas: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* Para escritorio: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}